html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#map {
  height: 100%;
}

#sidebar {
  position: fixed;
  top: 20%;
  right: 0;
  width: 20%;
  min-width: 200px;
  background-color: black;
  color: white;
  outline: white solid 1px;
}

#location {
  background-color: #19938e;
  padding: 1em;
}

.preview {
  background-color: #3f3f3f;
  margin: 1em;
  padding: 1em;
}

#status,
#name {
  display: none;
}
