html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.map {
  height: 100%;
}

#sidebar {
  position: fixed;
  top: 20%;
  bottom: 20%;
  right: 0;
  width: 20%;
  background-color: black;
  color: white;
  box-sizing: border-box;
  padding: 1em;
}